/*.questionnaire-container {
    font-family: Arial, sans-serif;
    margin: 20px;
  }*/
  .questionnaire-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en una sola línea */
    gap: 10px; /* Espacio entre los elementos */
    padding: 20px;
    color: #7f8c8d;
  }
  .questionnaire-container-group {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en una sola línea */
    gap: 10px; /* Espacio entre los elementos */
  }
  .questionnaire-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c3e50;
    padding-top: 30px;
    padding-left: 20px;
  }
  
  .questionnaire-group {
    margin-bottom: 20px;
    background: #f6f6ff;
    padding: 10px;
    width: 100%;
  }
  
  .questionnaire-group-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #34495e;
  }
  
  .questionnaire-item {
    margin-bottom: 15px;
    align-content: end;
  }
  
  .questionnaire-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #7f8c8d;
    /*float: left;*/
  }
  
  .questionnaire-item input,
  .questionnaire-item textarea,
  .questionnaire-item select {
    width: 100%;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .questionnaire-responses {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .questionnaire-responses h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
  }
  
  .questionnaire-responses pre {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
  }
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  .required-asterisk {
    color: red;
    margin-left: 5px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }

/* Nuevos estilos */
/*.questionnaire-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}*/
.questionnaire-item {
 /* flex: 1 1 200px;*/ /* Permite que los elementos crezcan y se encojan, con un tamaño base de 200px */
  min-width: 200px; /* Asegura que los elementos no se encojan por debajo de 200px */
  box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
  width: 100%;
}

/* Estilos para input y select */
input, select {
  width: 100%; /* Controla la anchura */
  padding: 10px; /* Añade espacio interno */
  margin: 5px 0; /* Añade espacio externo */
  border: 1px solid #ccc; /* Añade un borde */
  border-radius: 4px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
  font-size: 16px; /* Tamaño de fuente */
}

select {
  background-color: #f9f9f9; /* Color de fondo */
  appearance: none; /* Elimina el estilo por defecto del navegador */
  -webkit-appearance: none; /* Elimina el estilo por defecto del navegador en WebKit */
  -moz-appearance: none; /* Elimina el estilo por defecto del navegador en Firefox */
}

select:disabled, input:disabled {
  background-color: #e9e9e9; /* Color de fondo para elementos deshabilitados */
  cursor: not-allowed; /* Cambia el cursor para elementos deshabilitados */
}
.radio-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el botón y el texto */
}

.radio-container input[type="radio"] {
  margin: 0; /* Elimina cualquier margen predeterminado */
  padding: 0; /* Elimina rellenos innecesarios */
  appearance: none; /* Elimina el estilo predeterminado del navegador si es necesario */
  width: 16px; /* Tamaño del radio button */
  height: 16px; /* Tamaño del radio button */
  border-radius: 50%; /* Asegura que sea un círculo */
  border: 2px solid #145292; /* Borde para visibilidad */
  cursor: pointer;
}

.radio-container input[type="radio"]:checked {
  background-color: #6e83b7; /* Color de fondo al seleccionar */
}

.radio-container label {
  font-size: 16px; /* Ajusta el tamaño de fuente del texto */
  line-height: 1.5; /* Alinea el texto verticalmente */
  cursor: pointer; /* Facilita el clic en el label */
}
.panel-radio{
  background: white;
  border: 1px solid #c9c3c3;
  padding: 5px;
}