/* Estilos generales */
.container {
    margin-top: 40px;
    max-width: 900px;
}

/* Título */
.title {
    text-align: center;
    font-weight: bold;
    color: #1976d2;
    margin-bottom: 30px;
}

/* Campo de búsqueda */
.search-box {
    margin-bottom: 20px;
}

/* Tabla */
.table-container {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table-header {
    background-color: #ed6c02;
    color: white !important;
    font-weight: bold;
}
.table-header2 {
    background-color: #2e7d32;
    ;
    color: white !important;
    font-weight: bold;
}
.table-header  span{
    color: white !important;
}
.table-header2  span{
    color: white !important;
}
/* Efecto de hover en filas */
.table-row:hover {
    background-color: #e3f2fd;
    cursor: pointer;
}

/* Modal */
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
}
.no-bullets {
    list-style-type: none;  /* Elimina los puntos de la lista */
    padding: 0;  /* Elimina el relleno por defecto */
    margin: 0;  /* Elimina el margen por defecto */
}
