.sidebar {
    width: 45% !important;

    background-color: #ffffff;
    padding: 15px;
    border-right: none;
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    transform: translateX(-85%);
}

.sidebar img {
    display: none;
}

.sidebar.open img {
    display: block !important;
}

 .sidebar.open {
    background-color: #f8f9fa;
    transform: translateX(0);
}

/* .logoEscuela {
    width: 100%;
    margin-bottom: 20px;
} */

.logoMIA {
    width: 100%;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.close-sidebar-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    float: right;
    margin-right: -18px;
}

.close-sidebar-btn:hover {
    background-color: #c82333;
}
.sections{
    margin-top: 100px;
}
.sidebar-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .section-toggle-btn {
    background-color: #f8f9fa;
    color: #616161;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-toggle-btn:hover {
    background-color: #e2e5e9;
    color: rgb(66, 65, 67);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    margin-left: 20px;

  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {

    text-decoration: none;
    /* color: #8f9397; */
    color: #000;
    font-size: medium;
    /* font-weight: bold; */
    }
  
  
  .sidebar ul li a:hover {
    color: #b5b8bc;
    text-decoration: none;
  }
@media (min-width: 768px) {
    .sidebar {
        width: 250px;
        background-color: #f8f9fa;
        border-right: 1px solid #dee2e6;
        transform: translateX(0);
        position: relative;
        height: auto;
    }

    .sidebar img{
    display: block;
    }
    .sidebar.open img{
      display: none;
      }
    .close-sidebar-btn {
        display: none;
    }
}