/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabecera principal */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  /*background-color: #f4f4f4;*/
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

/* Sección de logo */
.logo-section {
  display: flex;
  align-items: center;
  max-width: 65%;
}

.logo {
  width: 25%;
  height: 100%;
  margin-right: 10px;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Sección de usuario */
.user-section {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 16px;
  margin-right: 15px;
  color: #333;
}

.logout-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #e60000;
}

.save-btn {
  background-color: #2e88cb;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.save-btn:hover {
  background-color: #5380a2;
}
/* Media Queries: Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  /* Reducir el tamaño del logo y la fuente */
  .logo {
    width: 45%;
    height: 100%;
  }
  
  .app-name {
    font-size: 20px;
  }

  .user-avatar {
    width: 35px;
    height: 35px;
  }
  
  .user-name {
    font-size: 14px;
  }

  .logout-btn {
    padding: 8px 16px;
    font-size: 12px;
  }
  .save-btn {
    background-color: #56b0dc;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
  }
}
.main-content{
  padding-bottom: 30px;
}
@media (max-width: 480px) {
  /* Cambiar a layout en columna en pantallas muy pequeñas */
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-section {
    margin-bottom: 10px;
  }

  .user-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-name {
    display: none; /* Ocultar el nombre del usuario en pantallas muy pequeñas */
  }
  
  .logout-btn {
    margin-left: auto; /* Alinear el botón de cerrar sesión a la derecha */
  }
}
.report div{
  margin-bottom: 10px;
  text-align: justify;
}
.App {
  display: flex;
}

